---
permalink: index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>

    <title>{{ data.title }}</title>
    <description>{{ data.description }}</description>
    <copyright>{{ data.copyright }}</copyright>
    <language>{{ data.language }}</language>
    <link>{{ data.paths.feed }}</link>

    <atom:link href="{{ data.paths.feed }}" rel="self" type="application/rss+xml"/>

    <itunes:subtitle>{{ data.subtitle }}</itunes:subtitle>
    <itunes:type>{{ data.type }}</itunes:type>
    <itunes:author>
    {%- for author in data.authors -%}
        {{ author }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    </itunes:author>
    <itunes:explicit>{{ data.explicit }}</itunes:explicit>
    <itunes:owner>
        <itunes:name>{{ data.owner.name }}</itunes:name>
        <itunes:email>{{ data.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ data.paths.cover }}"/>
    <itunes:category text="{{ data.category }}">
        <itunes:category text="{{ data.subcategory }}"/>
    </itunes:category>

{%- for episode in collections.episode -%}

    {% if episode.data.language == 'ru' %}
        {% set localeHosts = 'Ведущие' %}
        {% set localeTopics = 'Темы' %}
        {% set localeDate = episode.date | ruDate %}
        {% set localeLinks %}
            <p>
                Слушайте свежие эпизоды в
                <a href="{{ links.listen.google }}">Google Podcasts</a>,
                <a href="{{ links.listen.apple }}">Apple Podcasts</a>,
                <a href="{{ links.listen.castbox }}">CastBox</a>,
                <a href="{{ links.listen.pocket }}">Pocket Casts</a>,
                <a href="{{ links.listen.overcast }}">Overcast</a>,
                <a href="{{ links.listen.vk }}">ВКонтакте</a>,
                <a href="{{ links.listen.yandex }}">Яндекс.Музыке</a>,
                <a href="{{ links.listen.spotify }}">Spotify</a>,
                <a href="{{ links.listen.youtube }}">YouTube</a>,
                <a href="{{ links.listen.soundcloud }}">SoundCloud</a>
                или подписывайтесь на <a href="{{ links.listen.rss }}">RSS</a>.
            </p>
            <p>
                Читайте новости в
                <a href="{{ links.read.twitter }}">Твиттере</a>,
                <a href="{{ links.read.vk }}">ВКонтакте</a>,
                <a href="{{ links.read.facebook }}">Фейсбуке</a>,
                <a href="{{ links.read.telegram }}">Телеграме</a>.
            </p>
            <p>
                Поддержите нас
                на <a href="{{ links.support.patreon }}">Патреоне</a>
                или переводом
                на <a href="{{ links.support.yandex }}">Яндекс.Деньги</a>
                или <a href="{{ links.support.paypal }}">PayPal</a>.
            </p>
            <p>
                <a href="{{ links.discuss.slack }}">Обсуждайте в Слаке</a>.
            </p>
        {% endset %}
    {% else %}
        {% set localeHosts = 'Hosts' %}
        {% set localeTopics = 'Topics' %}
        {% set localeDate = episode.date | enDate %}
        {% set localeLinks %}
            <p>
                Listen to new episodes in
                <a href="{{ links.listen.google }}">Google Podcasts</a>,
                <a href="{{ links.listen.apple }}">Apple Podcasts</a>,
                <a href="{{ links.listen.castbox }}">CastBox</a>,
                <a href="{{ links.listen.pocket }}">Pocket Casts</a>,
                <a href="{{ links.listen.overcast }}">Overcast</a>,
                <a href="{{ links.listen.vk }}">VK</a>,
                <a href="{{ links.listen.yandex }}">Yandex.Music</a>,
                <a href="{{ links.listen.spotify }}">Spotify</a>,
                <a href="{{ links.listen.youtube }}">YouTube</a>,
                <a href="{{ links.listen.soundcloud }}">SoundCloud</a>,
                or subscribe to <a href="{{ links.listen.rss }}">RSS</a>.
            </p>
            <p>
                Read news on
                <a href="{{ links.read.twitter }}">Twitter</a>,
                <a href="{{ links.read.vk }}">VK</a>,
                <a href="{{ links.read.facebook }}">Facebook</a>,
                <a href="{{ links.read.telegram }}">Telegram</a>.
            </p>
            <p>
                Support us
                on <a href="{{ links.support.patreon }}">Patreon</a>
                or via transfer
                to <a href="{{ links.support.yandex }}">Yandex.Money</a>
                or <a href="{{ links.support.paypal }}">PayPal</a>.
            </p>
            <p>
                <a href="{{ links.discuss.slack }}">Discuss in Slack</a>.
            </p>
        {% endset %}
    {% endif %}

    {% set episodeDescription %}
        <h2>{{ localeHosts }}</h2>
        <ul>
            {%- for host in episode.data.hosts -%}
                <li>{{ host }}</li>
            {%- endfor -%}
        </ul>
        <h2>{{ localeTopics }}</h2>
        {% if episode.data.chapters %}
            <ul>
                {%- for chapter in episode.data.chapters -%}
                    <li>{{ chapter.time }} {{ chapter.title }}</li>
                {%- endfor -%}
            </ul>
        {% endif %}
        {{ localeLinks | safe }}
        {{ episode.templateContent | safe }}
    {% endset %}

    {% set episodeSummary %}
        {{ localeDate }}: {{ episode.data.title }}. {{ episode.data.hosts | join(', ') }}
    {% endset %}

    {% set fileUrl %}
        {{ data.paths.audio }}{{ episode.fileSlug }}.mp3
    {% endset %}
    {% set filePath %}
        {{ data.paths.file }}{{ episode.fileSlug }}.mp3
    {% endset %}

    <item>
        <title>{{ episode.data.title | escape }}</title>
        <pubDate>{{ episode.date.toUTCString() }}</pubDate>
        <description><![CDATA[{{ episodeDescription | htmlmin | safe }}]]></description>
        <guid isPermaLink="true">{{ fileUrl | trim }}</guid>
        <enclosure type="audio/mpeg" url="{{ fileUrl | trim }}" length="{{ filePath | trim | length }}"/>

        <itunes:episode>{{ episode.fileSlug }}</itunes:episode>
        <itunes:duration>{{ filePath | trim | duration }}</itunes:duration>
        <itunes:author>{{ episode.data.hosts | join(', ') }}</itunes:author>
        <itunes:explicit>{{ data.explicit }}</itunes:explicit>
        <itunes:summary>{{ episodeSummary | trim }}</itunes:summary>
        <itunes:image href="{{ data.paths.cover }}"/>
    </item>

{%- endfor -%}

</channel>
</rss>
