<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>

    <title>{{ title }}</title>
    <description>{{ description }}</description>
    <copyright>{{ copyright }}</copyright>
    <language>{{ language }}</language>
    <link>{{ paths.feed }}</link>

    <atom:link href="{{ paths.feed }}" rel="self" type="application/rss+xml"/>

    <itunes:subtitle>{{ subtitle }}</itunes:subtitle>
    <itunes:author>
    {%- for author in authors -%}
        {{ author }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    </itunes:author>
    <itunes:explicit>{{ explicit }}</itunes:explicit>
    <itunes:owner>
        <itunes:name>{{ owner.name }}</itunes:name>
        <itunes:email>{{ owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:image href="{{ paths.cover }}"/>
    <itunes:category text="{{ category }}">
        <itunes:category text="{{ subcategory }}"/>
    </itunes:category>

{%- for episode in collections.episode -%}

    {% if episode.data.language == 'ru' %}
        {% set localeHosts = 'Ведущие' %}
        {% set localeTopics = 'Темы' %}
        {% set localeDate = episode.date | ruDate %}
        {% set localeLinks %}{% include 'links-ru.md' %}{% endset %}
    {% else %}
        {% set localeHosts = 'Hosts' %}
        {% set localeTopics = 'Topics' %}
        {% set localeDate = episode.date | enDate %}
        {% set localeLinks %}{% include 'links-en.md' %}{% endset %}
    {% endif %}

    {% set episodeDescription %}
        <h2>{{ localeHosts }}</h2>
        <ul>
            {%- for host in episode.data.hosts -%}
            <li>{{ host }}</li>
            {%- endfor -%}
        </ul>
        <h2>{{ localeTopics }}</h2>
        {% if episode.data.chapters %}
        <ul>
            {%- for chapter in episode.data.chapters -%}
            <li>{{ chapter.time }} {{ chapter.title }}</li>
            {%- endfor -%}
        </ul>
        {% endif %}
        {{ localeLinks | markdown | safe }}
        {{ episode.templateContent | safe }}
    {% endset %}

    {% set episodeSummary %}
        {{ localeDate }}: {{ episode.data.title }}
        {%- for host in episode.data.hosts -%}
            {% if loop.first %}. {% endif %}{{ host }}{% if not loop.last %}, {% endif %}
        {%- endfor -%}.
    {% endset %}

    {% set fileUrl %}
        {{ paths.audio }}{{ episode.fileSlug }}.mp3
    {% endset %}
    {% set filePath %}
        {{ paths.file }}{{ episode.fileSlug }}.mp3
    {% endset %}

    <item>
        <title>{{ episode.data.title | escape }}</title>
        <pubDate>{{ episode.date.toUTCString() }}</pubDate>
        <description><![CDATA[{{ episodeDescription | htmlmin | safe }}]]></description>
        <guid isPermaLink="true">{{ fileUrl | trim }}</guid>
        <enclosure type="audio/mpeg" url="{{ fileUrl | trim }}" length="{{ filePath | trim | length }}"/>

        <itunes:episode>{{ episode.fileSlug }}</itunes:episode>
        <itunes:duration>{{ filePath | trim | duration }}</itunes:duration>
        <itunes:author>
        {%- for host in episode.data.hosts -%}
            {{ host }}{% if not loop.last %}, {% endif %}
        {%- endfor -%}
        </itunes:author>
        <itunes:explicit>{{ explicit }}</itunes:explicit>
        <itunes:summary>{{ episodeSummary | trim }}</itunes:summary>
        <itunes:image href="{{ paths.cover }}"/>
    </item>

{%- endfor -%}

</channel>
</rss>
